.codeFilenameContainer {
	display: flex;
	flex-direction: column;
}

.codeFilename {
	font-size: var(--step--2);
	font-weight: bold;

	background-color: #14222a;
	padding: var(--step--2);
	border-bottom: 2px solid var(--color-primary);
}

.codeFilenameCode {
	flex-grow: 1;
}

.codeFilenameCode > pre {
	height: 100%;
}

.codeFilenameList {
	max-width: initial;
	background-color: #193549;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.codeVersus {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
	gap: var(--step--2);
	justify-items: stretch;
}
