body {
	--link-background: transparent;
	--link-background-active: var(--color-secondary);
	--link-foreground: var(--color-secondary);
	--link-foreground-active: var(--color-primary);
	--link-decoration: underline;
	--link-decoration-active: none;

	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-family: var(--font-family-text);
	font-size: var(--step-0);
	line-height: 1.6;
	tab-size: 2;
}

a {
	background-color: var(--link-background);
	border-radius: 0.125em;
	color: var(--link-foreground);
	text-decoration: var(--link-decoration);
}

a:hover {
	--link-foreground: var(--link-foreground-active);
	--link-background: var(--link-background-active);
	--link-decoration: var(--link-decoration-active);
}

blockquote {
	padding-inline-start: var(--step-0);
	border-inline-start: 0.125em solid var(--color-accent);
}

h1 {
	font-size: var(--step-5);
}
h2 {
	font-size: var(--step-4);
}
h3 {
	font-size: var(--step-3);
}
h4 {
	font-size: var(--step-2);
}
h5 {
	font-size: var(--step-1);
}
h6 {
	font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	max-width: var(--content-width, auto);
}

code {
	font-family: var(--font-family-code);
}

:not(pre) > code {
	padding-inline: 0.25em;
	background-color: var(--code-background);
	border-radius: 0.125em;
	color: var(--code-foreground);
}

pre {
	overflow-x: auto;
	padding: 1em;
	margin-block: 0;
	margin-inline: calc(-1 * var(--content-margin));
	font-family: var(--font-family-code);
	font-size: var(--step--1);
}
