:root {
	--font-family-text: BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-family-code: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
		monospace;

	--color-white: #fefefe;
	--color-black: #2e2e2e;

	--color-primary: var(--color-white);
	--color-secondary: var(--color-black);
	--color-accent: #f7df1c;

	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,3840,36,1.2,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--step--3: clamp(0.58rem, calc(0.51rem + 0.33vw), 1.3rem);
	--step--2: clamp(0.69rem, calc(0.62rem + 0.39vw), 1.56rem);
	--step--1: clamp(0.83rem, calc(0.74rem + 0.47vw), 1.88rem);
	--step-0: clamp(1rem, calc(0.89rem + 0.57vw), 2.25rem);
	--step-1: clamp(1.2rem, calc(1.06rem + 0.68vw), 2.7rem);
	--step-2: clamp(1.44rem, calc(1.28rem + 0.82vw), 3.24rem);
	--step-3: clamp(1.73rem, calc(1.53rem + 0.98vw), 3.89rem);
	--step-4: clamp(2.07rem, calc(1.84rem + 1.18vw), 4.67rem);
	--step-5: clamp(2.49rem, calc(2.21rem + 1.41vw), 5.6rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-white: #fefefe;
		--color-black: #181818;

		--color-primary: var(--color-black);
		--color-secondary: var(--color-white);
		--color-accent: #f7df1c;
	}
}
