:root {
	--font-family-text: BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-family-code: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
		monospace;

	--color-white: #fefefe;
	--color-black: #2e2e2e;

	--color-primary: var(--color-white);
	--color-secondary: var(--color-black);
	--color-accent: #f7df1c;

	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,3840,42,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--step--2: clamp(0.69rem, calc(0.59rem + 0.51vw), 1.82rem);
	--step--1: clamp(0.83rem, calc(0.71rem + 0.62vw), 2.19rem);
	--step-0: clamp(1rem, calc(0.85rem + 0.74vw), 2.63rem);
	--step-1: clamp(1.2rem, calc(1.02rem + 0.89vw), 3.15rem);
	--step-2: clamp(1.44rem, calc(1.23rem + 1.06vw), 3.78rem);
	--step-3: clamp(1.73rem, calc(1.47rem + 1.28vw), 4.54rem);
	--step-4: clamp(2.07rem, calc(1.77rem + 1.53vw), 5.44rem);
	--step-5: clamp(2.49rem, calc(2.12rem + 1.84vw), 6.53rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-white: #fefefe;
		--color-black: #181818;

		--color-primary: var(--color-black);
		--color-secondary: var(--color-white);
		--color-accent: #f7df1c;
	}
}
