.navigation {
	--link-background: transparent;
	--link-foreground: var(--color-black);
	--link-background-active: transparent;
	--link-foreground-active: var(--color-secondary);

	flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
	.navigation {
		--link-background: transparent;
		--link-foreground: var(--color-accent);
		--link-background-active: transparent;
		--link-foreground-active: var(--color-accent);
	}
}

.navigationList {
	display: flex;
	height: var(--header-height);
	padding: 0;
	margin: 0;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.navigationListItemLastPage {
	flex-grow: 1;
}

.navigationListItem {
	--transform-and-scale: translate(0, 0) scale(1, 0.1);
	--rotation: 0deg;
	--rotation-active: 0deg;
}

.navigationListItem:nth-child(n + 1) {
	--rotation: 3deg;
}

.navigationListItem:nth-child(n + 2) {
	--rotation: -1deg;
}

.navigationListItem:nth-child(n + 3) {
	--rotation: 2deg;
}

.navigationLink {
	display: inline-block;
	position: relative;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}

.navigationLink:where(:hover, [data-state-active]) {
	color: var(--color-black);
}

.navigationLink:where(:hover, [data-state-active])::before {
	--rotation: 0deg;
	--transform-and-scale: translate(0) scale(1);
}

.navigationLink::before {
	display: block;
	content: '';

	background-color: var(--color-accent);
	border-radius: 0.125em;

	position: absolute;
	left: -0.25em;
	top: 0;
	right: -0.25em;
	bottom: 0;
	z-index: -1;

	transform: rotate(var(--rotation)) var(--transform-and-scale);
	transform-origin: 50% 100%;

	transition: color 0.2s, transform 0.2s;
	will-change: color, transform;
}
