---
import DefaultLayout from '@layouts/Default.astro';
import { loadPosts } from '@functions/posts';
import { PostList } from '@components/PostList';
import { VisuallyHidden } from '@components/VisuallyHidden';

const posts = await loadPosts();
---

<DefaultLayout
	context={{
		requestUrl: Astro.request.url,
	}}
>
	<VisuallyHidden>
		<h1>Intermediate JavaScript Tips</h1>
	</VisuallyHidden>
	<PostList posts={posts} />
</DefaultLayout>
