.header {
	--header-height: 4em;

	display: flex;
	flex-direction: row;
	gap: 1em;
	margin-block-end: var(--step-5);
	margin-inline-end: var(--step-0);

	text-transform: uppercase;
}

.logo {
	height: var(--header-height);
	max-width: none;
	width: calc(222 / 96 * var(--header-height));
}
