---
const { class: className, ...props } = Astro.props;
---

<div class={`flow ${className}`} {...props}>
	<slot />
</div>

<style>
	.flow {
		--content-width: 50ch;
	}

	.flow :global(> * + *) {
		margin-top: 1em;
	}
</style>
