---
import ImageLogo from '../assets/logo.svg';

const { pathname } = new URL(Astro.request.url);

const links = [
	{ url: '/', text: 'Posts' },
	{ url: '/about', text: 'About' },
];
---

<header class="header">
	<a href="/">
		<img src={ImageLogo} class="logo" />
	</a>

	<nav class="navigation">
		<ul class="navigation__list" role="list">
			{links.map((link) => (
				<li>
					<a href={link.url} data-state-active={pathname === link.url}>
						{link.text}
					</a>
				</li>
			))}
		</ul>
	</nav>
</header>

<style>
	.header {
		--header-height: 4em;

		display: flex;
		flex-direction: row;
		gap: 1em;

		text-transform: uppercase;
	}

	.logo {
		height: var(--header-height);
	}

	.navigation__list {
		display: flex;
		height: var(--header-height);
		padding: 0;
		margin: 0;
		flex-direction: row;
		gap: 1em;
		justify-content: center;
		align-items: center;
	}

	.navigation__list a {
		font-weight: bold;
		text-decoration: none;
	}

	.navigation__list a[data-state-active] {
		text-decoration: underline;
	}
</style>
