---
import DefaultLayout from '@layouts/Default.astro';
import { VisuallyHidden } from '@components/VisuallyHidden';
import { TITLE } from 'src/site';

const { category } = Astro.props;
const pageTitle = category;
const pageDescription = TITLE;

const schema = {
	'@context': 'https://schema.org',
	'@type': 'Blog',
	headline: pageTitle || TITLE,
	mainEntityOfPage: { '@type': 'WebPage', '@id': Astro.url },
	name: pageTitle || TITLE,
	url: Astro.url,
};
---

<DefaultLayout schema={schema} title={pageTitle} description={pageDescription}>
	<h1 class="category-title">
		<VisuallyHidden>Posts tagged with:</VisuallyHidden>
		{category}
	</h1>

	<slot />
</DefaultLayout>

<style>
	.category-title {
		margin-block-end: 1em;
	}
</style>
